:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;


}


*{
  box-sizing: border-box;
  margin:0;
  padding:0;

}

a{
  border: solid yellow;
}

.spoti-logo{
  margin-top:20px;

}

body{
  font-size: 13px;
  line-height: 20px;
  letter-spacing: .015em;

  text-transform: none;
  font-family: 'Rubik', 'Poppins','Nunito','Open Sans','Roboto', 'Helvetica Neue',Helvetica,Arial,'Hiragino Kaku Gothic Pro','Meiryo','MS Gothic',sans-serif
}

.App{
  height: 100vh;
  width: 100vw;
  display: relative;
  display: grid;
  grid-template-rows: 1fr auto;
  grid-template-columns: auto 1fr;

}

.sidebar{
  background: #000000;
  width: 232px;
  display: flex;
  flex-direction: column;
  user-select: none;
  border:solid white
}

.navlist{
  margin:2rem;

  border:solid red;
}

.nav-item{
  display:flex;
  justify-content: space-evenly;
  align-items: center;
  margin:1em;
  border:solid yellow;

}

.my-main{
  background: #121212;
  border:solid orange;
  padding: 3em;
}

.main-content{
  border: solid magenta;

}

.header{
  background: #040404;
  padding:1em;
  border:solid white;
}

.row-content{
  padding:2em;
  
}

img{
  margin-right:0.75em;
  margin-left:0.75em;
}

.btn-container{
  display:flex;
  justify-content: flex-end;
  align-items: center;
}

.btn-log-in{
  background-color: white;
  margin-left:50px;
  margin-right:30px;
  font-size:1.5em;
  padding:0.7em;
  border-radius: 500px;
  text-decoration: none;
  color:black;
}

.btn-sign-up{
  color:#727272;
  font-size:1.5em;  
  text-decoration: none;
}

.btn-sign-up:hover{
  transform: scale(1.07);
  color:white;
}

.btn-log-in:hover{
  background-color:#727272;
  transform: scale(1.07);
}