:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;


}


*{
  box-sizing: border-box;
  margin:0;
  padding:0;

}



.spoti-logo{
  margin-top:20px;
  margin-left: 30px;

}

body{
  font-size: 13px;
  line-height: 20px;
  letter-spacing: .015em;

  text-transform: none;
  font-family: 'Rubik', 'Poppins','Nunito','Open Sans','Roboto', 'Helvetica Neue',Helvetica,Arial,'Hiragino Kaku Gothic Pro','Meiryo','MS Gothic',sans-serif
}

.App{
  height: 100vh;
  width: 100vw;
  display: flex;

}

.sidebar{
  background: #000000;
  width: 400px;
  display: flex;
  flex-direction: column;
}

.nav-list{
  display: flex;
  flex-direction: column;
  

  margin:2rem;

}

.nav-item{
  display:flex;
  justify-content: flex-start;
  align-items: center;

  padding:1rem 0 1rem 0;

}

.nav-item-logo{
  margin-right:2rem;
}

.my-main{
  background: #121212;
  width: 100%;
  overflow-x: hidden;

}

.main-content{
  margin-top:8rem;
  margin-left: 2rem;
}

.row-title{
  margin:1.5rem;
}

.header{
  background: #040404;
  position: fixed;
  padding:2em;
  display:flex;
  justify-content:space-between;
  align-items: center;
  left:295px;
  right:0;
  z-index: 1;
}

.search-page{
  margin-top:8rem;
}

.search-style{
  border-radius: 50px;
  width:20rem;
  height: 2.5rem;
  margin-left: 3rem;
}


/* todo grid display */
.search-page{
  display:grid;
}

.search-genres{
  padding:12em;
  width: 5rem;
  border-radius: 10px;
  margin: 0.75em;
}

.row-content{
  padding:0.5em;
  display: flex;
}



.btn-container{
  display:flex;
  justify-content: flex-end;
  align-items: center;
}

.btn-log-in{
  background-color: white;
  margin-left:1rem;
  font-size:1.5em;
  padding:20px;
  border-radius: 500px;
  text-decoration: none;
  color:black;
}



.btn-sign-up{
  margin:0 0.5em 0 0.5em;
  color:#727272;
  font-size:1.2em;  
  text-decoration: none;
}

.btn-sign-up:hover{
  transform: scale(1.07);
  color:white;
}

.btn-log-in:hover{
  background-color:#727272;
  transform: scale(1.07);
}

.playlist-item{
  background-color: #181818;
  border-radius: 10px;
  padding:10px;
  margin: 0 5px 0 5px;
  position: relative;
}


/* todo smooth transitioning */
.playlist-item:hover{
  background-color: #382f2f;
}

.playlist-item>img{
  border-radius: 10px;
  margin-bottom: 1em;

}

.playlist-item>h3{
  position: relative;
  margin-bottom: 1rem;
}

.playlist-item>p{
  color:#727272;
  margin-bottom: 1em;
  width: 100%;
  height: auto;
}

/* todo position this button */
.play-button-home{

  position: absolute;
	top: 130px;
	right: 20px;
  border:none;
  background-color:#a7da4e;
  border-radius: 50%;
  padding:0.5rem;
  font-size: 1.5rem;

}

.play-button-playlist{
  border: none;
  background-color: #1ed760;
  border-radius: 50%;
  padding: 1rem;
  font-size: 1.5rem;
}

.play-button-track{
  border:none;
  font-size: 1rem;
  color:white;
  background-color:transparent;
  border-radius: 10px;
  margin-right: 15px;

}

.play-button-home:hover{
  cursor:pointer;
  padding:0.7rem;
}

.play-button-playlist:hover{
  cursor:pointer;
  padding: 1.2rem;
}

.play-button-track:hover{
  cursor:pointer;

}

.playlist-content{
  margin-top:6rem;
  background-color: #5d3636;
}

.playlist-cover{
  display:flex;
  padding:2rem;

}

.cover-image{
  width:15rem;
  height:15rem;
}

.cover-texts{
  padding:1rem;

}

.cover-type{
  padding:1rem;
}

.cover-title{
  padding:1rem;
  font-size: 5vw;
}

.cover-desc{
  padding-top:2rem;
  padding-left:1rem;
  font-size: 0.8rem;
  color:#794b4b
}

.cover-flex{
  display:flex;
  padding:1rem;
}

.cover-owner{
  text-decoration: none;
  color:white;
}

.cover-owner:hover{
  text-decoration: underline;
}

.track-list{
  padding:2em;
  background-color: #121212;
}

.tracks-title{
  display:grid;
  grid-template-columns: 27rem 25rem 27rem 20rem;
  justify-content: space-between;
  margin-top:1.5rem;
  padding: 1.5rem;
  margin-bottom:0.5rem;
}

.tracks-title-title{
  display: flex;
}

.title-first{
  margin-right: 2rem;
}

.track-item{
  display:grid;
  padding: 0.5rem 1.5rem 0.5rem 1.5rem;
  grid-template-columns: 27rem 25rem 27rem 20rem;
  justify-content: space-between;
}

.track-item:hover{
  background-color: #4f3737
}

.track-first{
  display: flex;
  align-items: center;
}

.track-no{
  margin-right: 25px;
}

.track-link{
  text-decoration: none;
  color:white;
}

.track-link:hover{
  text-decoration: underline;
}

.song-artists{
  display: flex;
  flex-direction: column;
}

.artist-link{
  text-decoration: none;
  color:#989898;
}

.artist-link:hover{
  text-decoration: underline;
  color:white
}

.duration{
  color:#989898;
}

.track-img{
  margin-right: 1rem;
}
